
body {
    margin: 0;
}

/* ------------phần đầu-------------------*/
.dau{
    padding-top: 2%;
}
.dau a {
    text-decoration: none;
    color: black;
    
}

ul  {
    list-style: none;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    

    
}

.right {
    margin-left: 30%;

}

/*--------------------------------------------------------*/

.mot {
    background-image: url("images/lodging.png");
    background-size: cover;
    padding-top: 10%;
    padding-bottom: 300px;
    padding-left: 5%;
    color: white;
    font-size: 20px;

}

/*----------------------------------------------------------*/
#han{
    width: 80%;
    
}
.han{
    text-align: center;
}
.haii {
    
    margin-top: 20px;
}

.hai {
     
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    justify-items: space-between;

}
.row2 img{
    width: 100%;
}


#mott {
    background-color: #efefef;

}






/*================================================================*/
@media all and (max-width: 1180px){
    .dau{
        background-color: #566471;
        padding-top: 5%;
    padding-bottom: 1%;
    margin-left: 3%;
    margin-right: 3%;
    }
    .mot{
        background-image: none;
        color: black;
        padding: 1px 44px;
        margin-top: 10px;
       
    }
    
    .haii{
        margin-left: 0 ;
    }
    #mott{
        background-color: white;
    }
    .mot>p {
        padding-bottom: 5px;
        border-bottom: 2px solid whitesmoke ;
    }

}

/*================================================================*/

@media all and (max-width: 767px){
    .mot>p{
        border-bottom: white;
    }

    .mot{
        padding-left: 3%;
    }
    .dau{
        display:flex;
        justify-content: center;
        margin-left: 0;
        margin-right: 0;

    }
    .dau a{
        margin: 10px;
        
    
    }
    .right{
        margin: 0;
    }
}

